**.ipynb_checkpoints
**.virtual_documents

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# large file
project5-1/RoundRoastersTransactions.csv
